<h1 align=center> Advertise with Us</h1>
<hr>
<div class="post">

<h1 align=center>Managers are you ready?</h1>
<hr>
<p>Global Platform for Engineering events provides free and comprehensive information on Educational and Professional events around the globe such as conferences, seminars, congress, workshops, trainings and other learning relevants opportunities to students, professionals, researchers, educationists, lecturers and production companies.</p>
<p> This is a great opportunities to managers in their various professions such as Event & Venue Managers, Facilitators, Training Managers and Equipment Managers to showcase their portfolios to people around the globe, so what are you waiting for?</p>
<hr>
<h1 align=center>Cost of Advertisement Slot for our Managers</h1>
<hr>
                    <table>
                    <tr>
                        <th>Managers</th>
						<td>&nbsp;</td>
						<th>Monthly Flat Rate</th>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<th>Yearly Flat Rate</th>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
                        <th>Payment Link</th>
                    </tr>
					    <td>&nbsp;</td>
						<td>&nbsp;</td>
                    <tr>
                        <td>Facilitators</td>
						<td>&nbsp;</td>
						
                        <td align=center>₦5000</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						
                        <td align=center>₦55000</td>
                       </tr>  
					    <td>&nbsp;</td>
						<td>&nbsp;</td>
					<tr>
                        <td>Event Managers</td>
						<td>&nbsp;</td>
                        <td align=center>₦6000</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
                        <td align=center>₦60000</td>
                    </tr> 
                        <td>&nbsp;</td>
						<td>&nbsp;</td>				
                    <tr>
                        <td>Equipment Managers</td>
						<td>&nbsp;</td>
                        <td align=center>₦4000</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
                        <td align=center>₦45000</td>
                    </tr>
                        <td>&nbsp;</td>
						<td>&nbsp;</td>				
                    <tr>
                        <td>Training Managers</td>
						<td>&nbsp;</td>
                        <td align=center>₦5000</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
                        <td align=center>₦55000</td>
                    </tr>    
                        
                    
                    </table>

<hr>
<h1 align=center>Universities, Companies and Training Institutes are you ready?</h1>
<hr>

<p>We also offer a listing service for Conferences, Seminars, Workshops, Congresses and Trainings on Engineering related feilds at a very reasonable fees. Global platform for Engineering Events is here to showcase  </p> so we want to hear from our potentials   Un also offer information about and free links to training providers, venue providers, training equipment suppliers etc.

With thousands of current training programs, over two hundred training providers, several training venues and event managers on the site, Nigerian Seminars and Trainings.com is now the biggest and fastest growing training website in Nigeria.

Because we cater for a specific niche with a generous parade of high caliber audience, the website is an obvious choice for businesses hoping to reach business leaders, company executives, professionals in all fields of learning, training providers, prospective trainees and the conference and seminars industry subsector as a whole.</p>
<hr>
<h1 align=center>Cost of Advertisement Slot for Engineering Meetings</h1>
<hr>
           <table>
                    <tr>
                        <th>Meeting Types</th>
						<td>&nbsp;</td>
						<th>One-off Payment(₦)</th>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<th>One-off Payment($)</th>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<th>Payment Link</th>
                    </tr>
					    <td>&nbsp;</td>
						<td>&nbsp;</td>
							
                    <tr>
					
                        <td>Academic Institute</td>
						<td>&nbsp;</td>
						
                        <td align=center>₦65000</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						
                        <td align=center>$180</td>
					
                       </tr>
						  
					    <td>&nbsp;</td>
						<td>&nbsp;</td>
					<tr>
                        <td>Non-Profit Organisation</td>
						<td>&nbsp;</td>
						
                        <td align=center>₦63000</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						
                        <td align=center>$175</td>
                       </tr>  
					    <td>&nbsp;</td>
						<td>&nbsp;</td>	
					<tr>
                        <td>Companies</td>
						<td>&nbsp;</td>
						
                        <td align=center>₦241200</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						
                        <td align=center>$670</td>
                    </tr>  
						
			</table>



</div>
