@import "bootstrap";


body {
	margin: 0;
	padding: 0;
	background: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #6F6F6F;
}

strong {
	color: #D43442;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-family: 'Abel', sans-serif;
	font-weight: normal;
	color: #007300;
}

h1 {
	font-size: 2em;
}

h2 {
    text-align: left;
	font-size: 1.8em;
	color: #191919;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: underline;
	color: #004c00;
}

a:hover {
	text-decoration: none;
}

#wrapper {
	width: 1100px;
	margin: 0 auto;
	padding: 0;
	background:#000000;
}

/* Header */

#header-wrapper {
	height: 160px;
	
}

#header {
	width: 1110px;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
}

/* Logo */

#logo {
	float: left;
	width: 140px;
	margin: 0;
	padding: 0;
	color: #000000;
}

#logo h1, #logo p {
    margin-left: -50px;
	padding: -20px 0px 0px 0px;
	letter-spacing: -1px;
	text-transform: lowercase;
	font-family: 'Abel', sans-serif;
	font-size: 2.8em;
	font-weight: bold;
	color: #007300;
}

#logo h1 {
	margin-left: 120px;
	padding: -0px 0px 0px 0px;
	letter-spacing: -2px;
	text-transform: uppercase;
	font-family: 'Abel', sans-serif;
	font-size: 1.8em;
	font-weight: bold;
	color: #007300;
}

#logo h1 a {
	color: #007300;
}

#logo h1 span {
}

#logo p {
	margin-left: -80px;
	padding: 0px 0px 0px 0px;
	font: normal 14px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #D43442;
} 

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #707070;
}

/* Search */

#search {
	float: right;
	width: 280px;
	height: 60px;
	padding: 20px 0px 0px 0px;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 10px 0 0 0px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 170px;
	height: 19px;
	padding: 4px 5px 1px 5px;
	border-color: green;
	background: #ffffff;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #007300;
}

#search-submit {
	width: 50px;
	height: 26px;
	border: none;
	background: #007300;
	color: #191919;
}

/* Menu */

#menu {
   	float: right;
	height: 80px;
	margin: 0 auto;
	padding: 0;
	background: #007300;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#iframe {
    align: left;
    padding: 8px 8px 1px 1px;
}

#menu li {
	float: left;
	border-left: 0.02px solid #000000;
}

#menu login {
     color: #191919;

}

#menu a {
	display: block;
	height: 80px;
	padding: 28px 28px 18px 18px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Abel', sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	background: #004c00;
	text-decoration: none;
}

#menu .current_page_item a {
}

/* Page */

#page {
	width: 980px;
	margin: 0 auto;
	padding: 0px 0px 0px 20px;
}

#page-bgtop {
	padding: 0px 0px;
}
/* Content */

#content {
	float: right;
	width: 600px;
	padding: 40px 0px 0px 0px;
}

.post,.post_full,.page {
	margin-bottom: 30px;
	padding: 30px 20px 20px 20px;
	background: #FFFFFF url(images/page-gradient-bg.png) repeat-x left bottom;
	box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 1);
	outline: 1px dashed #D4D4D4;
	outline-offset: -5px;
}

.post .theme,.page .theme {
	height: 41px;
	padding: 0px 0px 0px 0px;
	letter-spacing: -1px;
	font-family: 'Abel', sans-serif;
}

.post .theme a,.page .theme a {
	text-decoration: none;
	color: #007300;
	border: none;
	
}

.post .entry {
	padding: 20px 30px 20px 30px;
	padding-bottom: 20px;
	text-align: justify;
}

.post .byline {
	clear: both;
	overflow: hidden;
	padding-bottom: 20px;
}

.post .meta {
	float: left;
}

.post .links {
	float: right;
}

/* FULL POST */
.post_full .byline p{
    padding:0;
    margin:0;
}

.post_full .byline{
    clear: both;
	overflow: hidden;
	margin-bottom: 15px;
        padding:5px;
        background:black;
        color:#fff;
        border-left:5px #D93544 solid;
}

.links a {
}

/* Sidebar */

#sidebar {
	float: left;
	width: 300px;
	margin: 0px;
	padding: 20px 20px 0px 0px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 30px;
}

#sidebar li li {
    text-align: center; 
	line-height: 35px;
	border-bottom: 1px dashed #191919;
	background: url(images/img01.jpg) no-repeat left 15px; 
	margin: 0px 20px 0px 20px;
	border-left: none;
	text-align: left;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 12px;
	font-style: italic;
}

#sidebar li li a {
	padding: 0px 0px 0px 15px;
}

#sidebar h2 {
	height: 31px;
	margin: 0px 0px 20px 0px;
	padding: 10px 0px 0px 20px;
	background: url(images/img03.jpg) no-repeat left top;
	text-shadow: #203060 -1px 1px 2px;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: -.5px;
	font-size: 2em;
	color: #FFFFFF;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 20px 20px 20px;
	text-align: justify;
	color: #847F7E;
}

#sidebar a {
	border: none;
	color: #847F7E;
}

#sidebar a:hover {
	text-decoration: underline;
	color: #847F7E;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	width: 980px;
	height: 50px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	line-height: normal;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
	color: #847F7E;
}

#footer a {
	color: #847F7E;
}

.form label{
width:200px;
display:inline-block;
}


/*
 * Custom Styles
 */

.card-block {
  width: 500;
  color: #000000;
  text-align: left;
}

.auth-links a {
  color: #000000;
}

.action{

}

.register-text {
  text-align: right;
}

.password_confirmation-text{
 text-align: left;

}

.login > .card {
  width: 22rem;
  margin: 0 auto;
  float: none;
 }

.my-notify-info, .my-notify-success, .my-notify-error {
    padding:10px;
    margin:10px 0;
 
}
.my-notify-info:before, .my-notify-success:before, .my-notify-error:before {
    font-family:FontAwesome;
    font-style:normal;
    font-weight:400;
    speak:none;
    display:inline-block;
    text-decoration:inherit;
    width:1em;
    margin-right:.2em;
    text-align:center;
    font-variant:normal;
    text-transform:none;
    line-height:1em;
    margin-left:.2em;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.my-notify-info:before {
    content:"f05a";
}
.my-notify-success:before {
    content:'f00c';
}

.my-notify-error:before {
    content:'f057';
}
.my-notify-info {
    color: #00529B;
    background-color: #BDE5F8;
}
.my-notify-success {
    color: #4F8A10;
    background-color: #DFF2BF;
}

.my-notify-error {
    color: #D8000C;
    background-color: #FFD2D2;
}
