<h2>Categories</h2>

<ul>
  <li><% @categories.each do |category| %></li>
      
 <li><%= link_to category.name, category %></li>
    
   <%= link_to 'Edit', edit_category_path(category) if logged_in?(:site_admin)%>
   <%= link_to 'Delete', category, method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin)%>
   
  <% end %>
</ul>

<%= link_to 'Create a New Category', new_category_path  if logged_in?(:site_admin)%>