<% if @posts.each do |post| %>
  <div class="post">
	<h2><%= link_to post.theme,post %></h2>
	<div class="byline">
							 <p class="meta">Published <%= distance_of_time_in_words(post.created_at, Time.now) %> ago</p>
					</div>
	<div class="entry"><%= truncate post.body, length: 160 %></div>
	<div class="entry"><%= link_to 'read more', post %></div>
	
</div>
<% end.empty? %>
	<p style="color:#ffffff;">Sorry, there are no posts in this category</p>
<% end %>
